@import 'core.import'


.c-log-item
  > h1, h2
    padding 0
    margin 0
    margin-right 10px

  > h1
    color darken(white, 60%)
    font-size 22px
    margin-bottom 8px

  > h2
    color darken(white, 50%)
    font-size 14px
    font-weight 200
    margin-bottom 15px
