@import 'core.import'


.c-log
  padding-top 20px
  > .c-log-item
    padding-left 20px
    margin-bottom 15px
    padding-bottom 15px
    border-bottom dashed 1px rgba(black, 0.1)

  > .c-log-item:last-child
      border-bottom-color transparent
