@import 'core.import'


.c-log
  padding-top 20px
  > .c-json
    padding-left 20px
    margin-bottom 20px
    padding-bottom 10px
    border-bottom dashed 1px rgba(black, 0.1)

  > .c-json:last-child
      border-bottom-color transparent
